*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 14px;
    scroll-behavior: smooth;
}

body {
    font-family: "Source Sans 3", sans-serif;
    line-height: 1.625;
    margin: 0;
    color: #6f6f6f;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;
}

img {
    max-width: 100%;
    height: auto;
}

.header,
.header-recipe,
.reservation {
    background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.922045),
            rgba(54, 54, 54, 0.5) 39.24%,
            rgba(28, 28, 28, 0.4)
        ),
        url(img/eggs.jpg) center / cover no-repeat;
    color: #fff;
}

.header-recipe {
    background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.922045),
            rgba(54, 54, 54, 0.5) 39.24%,
            rgba(28, 28, 28, 0.4)
        ),
        url(img/salad-chicken.jpg) center / cover no-repeat;
}

.topbar {
    padding: 18px 20px;
    font-size: 0.875rem;
    text-transform: uppercase;
    text-align: center;
}

.topbar a:hover {
    color: #c89446;
}

.topbar .logo {
    padding-bottom: 15px;
}

.menu .menu-item,
.ingredients-menu a {
    display: inline-block;
    margin: 0 15px;
    transition: color 0.3s;
}

.menu .menu-item:hover,
.ingredients-menu a:hover {
    color: #c89446;
}

.menu .menu-button {
    border: solid 1px #c89446;
    padding: 7px 10px;
    transition: color 0.3s, background-color 0.3s;
}

.menu .menu-button:hover {
    background: #c89446;
    color: #fff;
}

.baseline {
    padding: 50px 0 70px;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
}

.baseline .baseline-welcome {
    font-family: "Pinyon Script", serif;
    color: #c89446;
    font-size: 2.2rem;
    display: block;
    text-transform: none;
}

.baseline .baseline-name {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 11px;
    padding-bottom: 10px;
    display: block;
}

.baseline .baseline-slogan {
    font-size: 1rem;
    font-weight: 300;
    display: block;
    letter-spacing: 2px;
}

.home-section {
    padding-top: 9px;
}

.container-small,
.container {
    margin: auto;
    padding: 0 20px;
}

.container-small {
    max-width: 960px;
}

.container {
    max-width: 1150px;
}

.block {
    margin-bottom: 50px;
}

.title {
    font-size: 1.75rem;
    line-height: 1.1;
    letter-spacing: 2px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1rem 0 0;
}

.title span {
    font-family: "Pinyon Script", serif;
    color: #c89446;
    font-size: 2.5rem;
    display: block;
    text-transform: none;
    font-weight: normal;
}

.title::before {
    content: "";
    display: inline-block;
    width: 26px;
    height: 2px;
    background: #c89446;
    margin-bottom: 0.5rem;
}

.more {
    color: #c89446;
}

.more a:hover {
    text-decoration: underline;
}

.more a::after {
    content: "";
    display: inline-block;
    width: 5px;
    height: 9px;
    margin-left: 0.5em;
    background: url(img/arrow-right.svg) no-repeat center center;
    transition: transform 0.3s ease-in-out;
}

.more a:hover::after {
    transform: translateX(3px);
}

.block-img {
    max-width: 350px;
    margin: 0 auto;
    border: solid 1px #c89446;
}

.block-img img {
    display: block;
    position: relative;
    z-index: 1;
}

.block-centered {
    text-align: center;
}

.block-centered .block-body {
    max-width: 640px;
    margin: 0 auto;
}

.ingredients-menu {
    margin: 40px 0;
    font-weight: 600;
    color: #383838;
    text-align: center;
}

.ingredients-menu a {
    position: relative;
    text-transform: uppercase;
}

.ingredients-menu a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    height: 1px;
    opacity: 0;
    background-color: #c89446;
    transition: 0.3s;
}

.ingredients-menu .active::after,
.ingredients-menu a:hover::after {
    bottom: 0;
    opacity: 1;
}

.menu-summary-item {
    padding-left: 120px;
    position: relative;
    margin-bottom: 30px;
}

.menu-summary-title {
    font-size: 1.125rem;
    color: #383838;
    font-weight: bold;
    padding-bottom: 0.75rem;
}

.menu-summary-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
}

.menu-summary-price {
    font-size: 2.5rem;
    font-family: "Pinyon Script", serif;
    color: #c89446;
    line-height: 1;
}

.menu-summary p {
    margin: 0;
    padding-bottom: 1rem;
    font-size: 0.875rem;
}

.reservation {
    background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.922045),
            rgba(54, 54, 54, 0.5) 39.24%,
            rgba(28, 28, 28, 0.4)
        ),
        url(img/reservation.jpg) center / cover no-repeat;
    color: #fff.6;
    padding: 50px 0;
}

.reservation .title {
    color: #fff;
}

.reservation input,
.reservation select {
    padding: 0 0.5rem;
    width: 100%;
    margin-bottom: 15px;
    border: solid 1px #6f6f6f;
    background: transparent;
    text-transform: uppercase;
    height: 40px;
    color: #fff;
    font-size: 0.875rem;
    font-family: "Source Sans Pro", serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 2px;
    transition: background-color 0.3s, border-color 0.3s;
}

.reservation select {
    background: no-repeat right 0.5rem center url(img/select.svg);
}

select option {
    color: #000;
}

.reservation input:focus,
.reservation select:focus {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: #c89446;
}

.reservation .button {
    width: 100%;
}

.button {
    font-weight: 600;
    font-size: 0.875em;
    color: #fff;
    background: #c89446;
    border: solid 2px transparent;
    padding: 11px 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    background: transparent;
    border: solid 2px #c89446;
}

.reservation .block-centered .block-body {
    max-width: none;
}

.reservation p {
    max-width: 625px;
    margin: 0 auto;
}

.recipes {
    margin: 50px 0;
    background: no-repeat top left / 90vw auto url(img/news-bg.jpg);
}

.recipes a:hover {
    text-decoration: underline;
}

.recipes-list {
    font-weight: 300;
    font-size: 1.125rem;
    max-width: 920px;
    margin-left: auto;
}

.recipes-list strong {
    font-weight: 700;
    color: #383838;
}

.recipes-date strong {
    font-size: 1.75rem;
    display: block;
    line-height: 1.2;
}

.recipes-list__item {
    border-bottom: solid 1px #f2f2f2;
    margin-top: 1em;
    padding-bottom: 1em;
    display: flex;
}

.recipes-list__item p {
    margin-top: 0;
}

.recipes-list__item:last-child {
    border-bottom: 0;
}

.recipes-date {
    width: 60px;
    flex: none;
    line-height: 1;
}

.recipes .more {
    display: block;
    text-align: right;
    margin-top: 60px;
}

.map {
    width: 100%;
    height: 460px;
}

footer {
    background: #383838 bottom right no-repeat;
    font-weight: 300;
    color: #fff;
    padding: 40px 0;
}

.footer-column {
    margin-bottom: 2rem;
}

.footer-title {
    color: #c89446;
    font-weight: bold;
    padding-bottom: 1.25em;
    text-transform: uppercase;
}

footer ul {
    list-style: none;
    padding-left: 0;
}

footer ul li::before {
    content: "- ";
}

footer a {
    text-decoration: underline;
}

footer a:hover {
    color: #c89446;
}

.footer-credits {
    font-size: 0.8em;
}

.footer-credits span {
    font-weight: bold;
}

.block-ingredients {
    border: solid 1px #c89446;
    padding: 35px 20px;
    font-weight: 600;
    color: #383838;
}

.block-ingredients ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.block-ingredients li {
    padding: 5px 0;
}

.block-ingredients span {
    width: 35px;
    text-align: right;
    display: inline-block;
    margin-right: 20px;
    font-weight: 300;
}

.section-overflow {
    padding: 20px 0;
}

.block-video {
    text-align: center;
    position: relative;
    background: #383838;
    display: block;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
}

.block-video img {
    box-shadow: 0 0 30px rgba(128, 128, 128, 0.5);
    opacity: 0.6;
    display: block;
    transition: opacity 0.3s;
}

.block-video::after {
    content: "";
    background: url(img/play.png) center center no-repeat;
    position: absolute;
    width: 62px;
    height: 62px;
    top: calc(50% - 31px);
    left: calc(50% - 31px);
    transition: transform 0.3s;
}

.block-video:hover::after {
    transform: scale(1.2);
    cursor: pointer;
}

.block-video:hover img {
    opacity: 0.9;
}

.recipes-mosaic p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.recipes-mosaic .more {
    margin-top: 0.5rem;
}

.pagination {
    list-style: none;
    margin: 30px 0;
    padding: 0;
    text-align: center;
}

.pagination li {
    display: inline-block;
}

.pagination a {
    text-decoration: none;
    border: solid 1px #c89446;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    overflow: hidden;
    text-indent: -3000px;
    transition: background-color 0.3s;
    margin: 0 15px;
}

.pagination a.active,
.pagination a:hover {
    background: #c89446;
}

.to-Top {
    display: none;
    position: fixed;
    cursor: pointer;
    text-align: center;
    bottom: 1rem;
    right: 1rem;
    background-color: rgba(200, 148, 70, 0.6);
    color: #fff;
    border-radius: 50px;
    z-index: 1000;
    width: 45px;
    height: 45px;
    padding: 10px;
    transform: translate(-50%, -50%);
    transition: transform 0.3s, background-color 0.3s;
}

.to-Top:hover {
    background-color: rgba(200, 148, 70, 1);
}

.to-Top i {
    font-size: 1.5rem;
}

@media only screen and (min-width: 768px) {
    html {
        font-size: 16px;
    }

    /* body {
        background: linear-gradient(
                to top,
                rgba(255, 255, 255, 0.6),
                rgba(255, 255, 255, 0.6)
            ),
            url(screenshot.png) top center no-repeat;
    } */

    body {
        background: linear-gradient(
            to top,
            rgba(255, 255, 255, 0.6),
            rgba(255, 255, 255, 0.6)
        );
    }

    .topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1150px;
        margin: 0 auto;
        letter-spacing: 2px;
    }

    .topbar .logo {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .menu .menu-button {
        margin-top: 0;
        margin-right: 0;
    }

    .baseline {
        padding: 125px 0 227px;
    }

    .baseline .baseline-welcome {
        font-size: 3.75rem;
        padding-right: 16px;
    }

    .baseline .baseline-name {
        font-size: 4.375rem;
        letter-spacing: 12.5px;
        padding: 13px 0 17px;
    }
    .baseline .baseline-slogan {
        font-size: 1.5rem;
        letter-spacing: 4px;
    }

    .home-section {
        background: fixed top 95px right 0px url(img/oranges.jpg) no-repeat,
            fixed top 640px left 0px url(img/spices.jpg) no-repeat;
    }

    .block {
        margin-bottom: 100px;
    }

    .block-last {
        margin-bottom: 60px;
    }

    .block-left,
    .block-right {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .block-img {
        border: none;
        position: relative;
    }

    .block-img::before {
        content: "";
        display: block;
        border: solid 1px #c89446;
        position: absolute;
        top: -30px;
        left: -30px;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .block-right .block-img::before {
        left: auto;
        right: -30px;
    }

    .block-left .block-img {
        margin-left: 30px;
    }

    .block-right .block-img {
        margin-right: 30px;
    }

    .block-left .block-body {
        margin-left: 20px;
    }

    .block-left .block-body,
    .block-right .block-body {
        width: 445px;
        flex: none;
    }

    .block-right .block-body {
        margin-right: 20px;
        order: -1;
    }

    .title::before {
        margin-bottom: 10px;
    }

    .title {
        margin-bottom: 1.2rem;
    }

    .more {
        margin-top: 1.3rem;
    }

    .ingredients-menu a {
        margin: 0 33px;
    }

    .menu-summary::before {
        content: "";
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        width: 420px;
        height: 420px;
        border: solid 1px #c89446;
        transform: translate(-50%, -260px) rotate(45deg);
    }

    .menu-summary {
        padding: 85px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
    }

    .menu-summary-item {
        padding-left: 192px;
        width: calc(50% - 35px);
        margin-bottom: 110px;
    }

    .menu-summary .menu-summary-item:nth-child(2n) {
        padding-left: 0;
        padding-right: 192px;
        text-align: right;
    }

    .menu-summary-img {
        width: 160px;
    }

    .menu-summary .menu-summary-item:nth-child(2n) .menu-summary-img {
        left: auto;
        right: 0;
    }

    .menu-summary-title {
        margin-top: 0;
        line-height: 1.2;
        background: #fff;
        margin-bottom: 0;
    }

    .menu-summary p,
    .menu-summary-price {
        background: #fff;
    }

    .menu-summary-price {
        padding-top: 4px;
        width: 85px;
    }

    .menu-summary .menu-summary-item:nth-child(2n) .menu-summary-price {
        margin-left: auto;
    }

    .block-chief {
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }

    .block-chief .block-img::before {
        display: none;
    }

    .block-chief .block-img {
        flex: none;
        width: 404px;
        order: 2;
    }

    .reservation {
        padding: 100px 0;
    }

    .reservation-form-row {
        margin: 64px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .reservation-form-row input,
    .reservation-form-row select,
    .reservation .button {
        width: calc((100% / 3) - 20px);
        margin-bottom: 0;
    }

    .recipes {
        padding: 60px 0;
        background-size: 589px auto;
        background-attachment: fixed;
        margin: 0;
    }

    .recipes .title,
    .recipes .container > p {
        text-align: right;
        max-width: 716px;
        margin-left: auto;
    }

    .recipes-date {
        width: 95px;
    }

    .recipes-list {
        margin-top: 64px;
        margin-bottom: 64px;
    }

    .recipes-list__item {
        margin-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .recipes-list__item:last-child {
        border-bottom: 0;
    }

    footer {
        background-image: url(img/splash.png);
    }

    .footer-columns {
        display: flex;
        justify-content: space-between;
    }

    .footer-column {
        width: calc(100% / 4);
        flex: none;
        margin-right: 50px;
    }

    .footer-column:first-child {
        width: calc(100% / 2.5);
    }

    .footer-column:last-child {
        margin-right: 0;
        flex: none;
    }

    .block-ingredients {
        padding: 35px 40px;
        width: 350px;
    }

    .block-ingredients span {
        margin-right: 50px;
    }

    .block-ingredients li {
        padding: 10px 0;
    }

    .section-overflow {
        padding: 0;
        margin-top: -20px;
    }

    .block-right .block-video {
        margin-left: 28px;
    }

    .recipes-mosaic {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: -60px;
    }

    .recipes-mosaic .menu-summary-item {
        width: calc(50% - 25px);
        margin-bottom: 64px;
        font-size: 0.875em;
        padding-left: 150px;
    }

    .recipes-mosaic .menu-summary-img {
        width: 125px;
    }

    .pagination {
        margin: 80px 0;
    }
}

/* @keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.5);
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOutRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOutLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes slideInBottom {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideOutBottom {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}

@keyframes slideInTop {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideOutTop {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

@keyframes slideInTopRight {
    from {
        transform: translate(-100%, -100%);
    }
    to {
        transform: translate(0, 0);
    }
}

@keyframes slideOutTopRight {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-100%, -100%);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .block-img {
        animation: fadeIn 1.5s linear;
        animation-timeline: view();
        animation-range: entry 0 cover 25%;
    }

    .block-left .block-body,
    .menu-summary-item:nth-child(2n) {
        animation: slideInRight 1.5s linear;
        animation-timeline: view();
        animation-range: entry 0 cover 25%;
    }

    .block-right .block-body,
    .menu-summary-item:nth-child(2n + 1),
    .block-chief .block-body {
        animation: slideInLeft 1.5s linear;
        animation-timeline: view();
        animation-range: entry 0 cover 25%;
    }

    .block-centered {
        animation: slideInBottom 1.5s linear;
        animation-timeline: view();
        animation-range: entry 0 cover 25%;
    }
} */

.reveal-loaded .reveal [class*="reveal-"] {
    opacity: 0 !important;
    transform: translateY(30px) !important;
    transition: 0s !important;
}

.reveal-loaded [class*="reveal-"] {
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.reveal-loaded .reveal-2 {
    transition-delay: 0.1s;
}

.reveal-loaded .reveal-3 {
    transition-delay: 0.2s;
}

.reveal-loaded .reveal-4 {
    transition-delay: 0.3s;
}

.reveal-loaded .reveal-5 {
    transition-delay: 0.4s;
}

.reveal-loaded .reveal-6 {
    transition-delay: 0.5s;
}

@media (prefers-reduced-motion: reduce) {
    .reveal [class*="reveal-"] {
        opacity: 1 !important;
        transform: translateY(30px) !important;
    }

    [class*="reveal-"] {
    transition-duration: 0s !important;
    transition-delay: 0s !important;
}
}
